<!DOCTYPE html>
<html>
  <head>
    <title>Simleblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-bold">First Progect</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <span class="p-2 text-dark" ><%= render 'menu'%></span>
      </nav>
      <% if !logged_in? %>
      <%= link_to 'Sign up', signup_path,{class:" btn btn-outline-primary"}%>
      <%= link_to "Log In", login_path, {class:" btn btn-outline-primary"} %>
      <% end %>
      <div id="user_header">
  <% if logged_in? %>
     <%= link_to 'Logout',  logout_path, class:"btn btn-danger", method: :delete%>
  <% else %>
     <%= link_to "Sign Up", new_user_path, style: "#{'display:none' if request.fullpath }" %>
     <%= link_to "Log In", login_path,style: "#{'display:none' if request.fullpath}"%>       
  <% end %>
    </div>
    
</div>
    <div class="container">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col">
        <%= yield %>
      </div>
       <div class="col">
         
       </div>
    </div>

      
    </div>
    
  </body>
</html>
