<%= form_with(model: user_information, local: true) do |form| %>
 
  <%= form.label :first_name %>:
  <%= form.text_field :first_name %>
  <br>

  Last Name: 
  <br>
  <%= form.text_field :last_name %>
  <br>

  Birthday: 
  <br>
 <%= form.text_field :birthday %>
  <br>

  Gender: 
  <br>
  <%= form.select :gender, [:Male, :Famale, :None] %>
  <br> 

  Childrens: 
  <br>
  <%= form.check_box :childrens %>
  <br>

  Childrens count: 
  <br>
  <%= form.number_field :child_count %>
  <br>
 <div class="actions">
    <%= form.submit class: 'btn btn-light' %>
  </div>
<% end %>