<p id="notice"><%= notice %></p>
<br>
<%= @user_information.first_name%>
<%= @user_information.last_name%>
</p>
<%= @user_information.birthday%>
<p><%= @user_information.gender%>
<br>
<%= @user_information.childrens%>
<%=@user_information.child_count%>


</p>
<%= link_to 'Edit', edit_user_information_path,  { type:"button", class:"btn btn-info" } %>
<%= link_to 'Back', user_informations_path,  { type:"button", class:"btn btn-info" }%>
<%= link_to 'Destroy', @user_information, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
